<% @mangas.in_groups_of(2, false) do |row| %>
  <div class="row">
    <% for manga in row %>
      <div class="column">
        <div class="image">
          <%= image_tag(manga.thumbnail.url,size: "450x600") if manga.thumbnail.present? %>
          <span class="icon icon-hot"></span>
          <div class="view clearfix">
            <span class="pull-left">
              <i class="fa fa-eye"></i><%= manga.number_of_read %>
              <i class="fa fa-heart"></i> <%= manga.followers.count %>
            </span>
          </div>
        </div>
        <figcaption>
        <h3><%= link_to manga.name, manga_path(manga) %></h3>
        </figcaption>
      </div>
    <% end %>
  </div>
<% end %>
<%= will_paginate @mangas %>
