<h2 class="text-center"><%= t(".mangas") %></h2>
<div class="banner-bottom">
  <div class="container">
    <div>
      <%= link_to t("most_view"), mangas_path(scope: :most_view), class: "btn btn-primary" %>
      <%= link_to t("most_follow"), mangas_path(scope: :most_followed), class: "btn btn-primary" %>
      <%= link_to t("top_rate"), mangas_path(scope: :top_rate), class: "btn btn-primary" %>
      <%= link_to t("recent_add"), mangas_path(scope: :order_manga), class: "btn btn-primary" %>
      <%= link_to t("full"), mangas_path(scope: :finished), class: "btn btn-primary" %>
      <%= link_to t("continue"), mangas_path(scope: :not_finished), class: "btn btn-primary" %>
    </div>
    <%= render "manga" %>
  </div>
</div>
