<h2 class="text-center"><%= t(".mangas") %></h2>
<div class="banner-bottom">
  <div class="container">
    <div class="row info-center">
      <%= link_to t("most_view"), mangas_path(scope: :most_view), class: "btn btn-primary" %>
      <%= link_to t("most_follow"), mangas_path(scope: :most_followed), class: "btn btn-primary" %>
      <%= link_to t("top_rate"), mangas_path(scope: :top_rate), class: "btn btn-primary" %>
      <%= link_to t("recent_add"), mangas_path(scope: :order_manga), class: "btn btn-primary" %>
      <%= link_to t("full"), mangas_path(scope: :finished), class: "btn btn-primary" %>
      <%= link_to t("continue"), mangas_path(scope: :not_finished), class: "btn btn-primary" %>
      <%= link_to t("hot_week"), mangas_path(scope: :hot_manga_by_time), class: "btn btn-primary" %>
      <%= link_to t("hot_month"), mangas_path(scope: :hot_manga_by_time), class: "btn btn-primary" %>
    </div>
    <%= render "manga" %>
  </div>
</div>
<div id="sideNav" class="sidenav">
  <ul class="category-sb">
    <li>
      <p class="text-white bg-dark"><%= t"categories" %></a>
    </li></br>
    <li>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %>
    </li>
  </ul>
</div>
