<li>
  <div class="agile_tv_series_grid">
    <div class="col-md-6 agile_tv_series_grid_left">
      <div class="w3ls_market_video_grid1">
        <%= link_to image_tag(manga.thumbnail.url, alt: " ",class: "img-responsive resize-image-most-follow" ) if manga.thumbnail.present? %>
        <a class="w3_play_icon" href="#small-dialog">
          <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="col-md-6 agile_tv_series_grid_right">
      <p class="fexi_header"><%= truncate(manga.name, length:Settings.mangas.truncate) %></p>
      <p class="fexi_header_para"><span><%= t("detail") %><label>:</label></span> <%= manga.detail %></p>
      <p class="fexi_header_para"><span><%= t("release_time") %><label>:</label></span> <%= l(manga.created_at, format: :dmy) %> </p>
      <p class="fexi_header_para">
        <span><%= t("category") %><label>:</label> </span>
        <% manga.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </p>
      <p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
        <ul class="row w3l-ratings">
          <li><%= rating_for manga, "rate_manga", disable_after_rate: true, readonly: true %></li>
        </ul>
      </p>
    </div>
    <div class="clearfix"> </div>
    <div class="agileinfo_flexislider_grids change-display">
      <%= render partial: "manga_info", collection: @mangas, as: :manga %>
    </div>
  </div>
</li>
<div id="small-dialog" class="mfp-hide">
  <%#= video_tag manga.anime.name, control: "true" %>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/pfRrZDVYhHI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
