<div id="vote_form1">
  <% if user_signed_in? %>
    <% if (current_user.voted_down_on? @manga) || (!ActsAsVotable::Vote.where(voter_id: current_user,votable_id: @manga.id).present?) %>
      <%= link_to manga_vote_mangas_path(@manga), method: :post, remote: true do %>
        <span class="glyphicon glyphicon-heart-empty"></span>
      <% end %>
    <% else %>
      <%= link_to manga_vote_manga_path(@manga,0), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-heart"></span>
      <% end %>
    <% end %>
  <% end %>
  <%= t "mangas.show.like" %> <%= @manga.get_upvotes.size %>
  <%= raw @manga.votes_for.up.by_type(User).voters.map { |voter| link_to voter.name, "#" }.join(', ') %>
</div>
