<div class="container">
  <h2><%= t(".title") %></h2>
    <%= search_form_for @q , url: mangas_path do |f| %>
    <div><%= label_tag t(".category_search") %>:</div>
      <% @categories.each do |category| %>
        <%= f.check_box :categories_id_in, {multiple: true}, category.id, nil %>
        <%= category.name %>
      <% end %>
    <%= f.button type: :submit, class: "btn btn-default" do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>
