<!-- header -->
<div class="header">
  <div class="container">
    <div class="w3layouts_logo">
      <a href="<%= root_path %>"><h1>Mag<span>Anime</span></h1></a>
    </div>
    <div class="w3_search">
      <form action="#" method="post">
        <input type="text" name="Search" placeholder="Search" required="">
        <input type="submit" value="Go">
      </form>
    </div>
    <div class="w3l_sign_in_register">
      <ul>
        <li class="dropdown">
          <%= link_to "#",class: "dropdown-toggle",data: {toggle: "dropdown"},"role"=>"button","aria-haspopup"=>true,"aria-expanded"=>false do %>Eng
            <i class="fa fa-language"></i>
          <% end %>
          <div class="dropdown-menu">
            <%= link_to_unless_current "English",locale: "en" %>
          <div class="dropdown-divider"></div>
            <%= link_to_unless_current "Japan", locale: "jp" %>
            <%= link_to_unless_current "Vietnam", locale: "vi" %>
          </div>
        </li>
        <% unless user_signed_in? %>
          <li><a href="#" data-toggle="modal" data-target="#myModal"><%= t(".signin") %></a></li>
        <% else %>
          <li><%= link_to t("profile"), edit_user_registration_path %></li>
          <li><%= link_to t("logout"), destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= t"title_login" %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body">
          <div class="w3_login_module">
            <div class="module form-module">
              <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                <div class="tooltip"><%= t("register") %></div>
              </div>
              <div class="form">
                <h3><%= t(".login") %></h3>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                  <div class="actions">
                    <%= f.submit t(".signin") %>
                  </div>
                <% end %>
              </div>
              <div class="form">
                <h3><%= t(".create_account") %></h3>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true %>
                  </div>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>
                  <div class="actions">
                    <%= f.submit t(".signup") %>
                  </div>
                <% end %>
              </div>
              <div class="cta"><%= link_to t(".forgot"), "#" %></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- //banner-bottom -->
<div class="general_social_icons">
  <nav class="social">
    <ul>
      <li class="w3_facebook"><%= link_to "Facebook", user_facebook_omniauth_authorize_url %><i class="fa fa-facebook"></i></li>
      <li class="w3_g_plus"><%= link_to "Google", user_google_oauth2_omniauth_authorize_url %><i class="fa fa-google-plus"></i></li>
    </ul>
  </nav>
</div>
