<table class="table cat-table">
  <thead class="thead-dark">
  <tr>
    <th scope="col" >#</th>
    <th scope="col" ><%= t("name") %></th>
    <th scope="col" ><%= t(".manga_name") %></th>
    <th scope="col" ><%= t(".action") %></th>
  </tr>
  </thead>
  <tbody>
    <% @animes.each.with_index(1) do |anime, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= anime.name %></td>
        <td>
          <%= link_to anime.manga.name, admin_manga_path(anime) %>
        </td>
        <td>
          <%= link_to t(".edit"), edit_admin_anime_path(anime) %> |
          <%= link_to t(".delete"), admin_anime_path(anime.id), method: :delete,
                data: { confirm: t("confim") } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @animes %>
<%= link_to t("create"), new_admin_anime_path, class: "btn btn_success" %>
